{% extends "layout.njk" %}

{% block head %}

  <title>Foodfy</title>

{% endblock %}

{% block content %}

  <section class="banner">
    <div class="flex">
      <h2>As melhores receitas</h2>
      <p>
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <div class="flex">
      <img src="/img/chef.png" alt="">
    </div>
  </section>

  <section class="mais-acessadas">
    <h3>Mais acessadas</h3>
    <div class="cards">
      <div class="card">
        <div class="card-img">
          <img src="/img/burger.png" alt="">
        </div>
        <div class="card-name">
          <h6>Triplo bacon burger</h6>
        </div>
        <div class="card-author">
          <p>por Jorge Relato</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="/img/pizza.png" alt="">
        </div>
        <div class="card-name">
          <h6>Pizza 4 estações</h6>
        </div>
        <div class="card-author">
          <p>por Fabiana Melo</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="/img/espaguete.png" alt="">
        </div>
        <div class="card-name">
          <h6>Espaguete ao alho</h6>
        </div>
        <div class="card-author">
          <p>por Júlia Kinoto</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="/img/lasanha.png" alt="">
        </div>
        <div class="card-name">
          <h6>Lasanha mac n’ cheese</h6>
        </div>
        <div class="card-author">
          <p>por Juliano Vieira</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="/img/doce.png" alt="">
        </div>
        <div class="card-name">
          <h6>Docinhos pão-do-céu</h6>
        </div>
        <div class="card-author">
          <p>por Ricardo Golvea</p>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
          <img src="/img/asinhas.png" alt="">
        </div>
        <div class="card-name">
          <h6>Asinhas de frango ao barbecue</h6>
        </div>
        <div class="card-author">
          <p>por Vania Steroski</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}