{% extends "layout.njk" %}

{% block head %}

  <title>Foodfy</title>

{% endblock %}

{% block content %}

  <section class="banner">
    <div class="flex">
      <h2>As melhores receitas</h2>
      <p>
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <div class="flex">
      <img src="/img/chef.png" alt="">
    </div>
  </section>

  <section class="mais-acessadas">
    <h3>Mais acessadas</h3>
    <div class="cards">

      {% for item in items %}

        <div class="card">
          <div class="card-img">
            <img src="/img/{{item.img}}" alt="Imagem de {{item.name}}">
          </div>
          <div class="card-name">
            <h6>{{item.name}}</h6>
          </div>
          <div class="card-author">
            <p>
              por {{item.author}}
            </p>
          </div>
        </div>

        {%endfor%}

      </div>
    </section>

  {% endblock %}